.fullscreen
	ul.fullscreen__list
		li.fullscreen__item.fullscreen__item--my-works.fullscreen__item--linked
			a(href="./works.html").fullscreen__link
				| Мои работы
		li.fullscreen__item.fullscreen__item--blog
			a(href="./blog.html").fullscreen__link
				| Блог
		li.fullscreen__item.fullscreen__link--about
			a(href="./about.html").fullscreen__link
				| Обо мне
		li.fullscreen__item.fullscreen__link--auth
			a(href="#").fullscreen__link
				| Авторизация