extends ./_template
include ./_mixins

block title
	title Обо мне

block content
	include ./sections/fullscreen
	include ./sections/hamburger
	.wrapper
		.container
			block hero
			block main_content
			block footer