form.contact-me__form#contact_me
	.contact-me__status
	.contact-me__title Связаться со мной
	input(name="name" placeholder="Имя" type="text").contact-me__input--name.contact-me__input
	input(name="email" placeholder="Email" type="email").contact-me__input--email.contact-me__input
	textarea(name="msg" placeholder="Ваше сообщение").contact-me__input--msg.contact-me__input
	.contact-me__footer
		button(type="submit" value="submit").contact-me__submit.contact-me__button Отправить
		button(type="reset" value="reset").contact-me__reset.contact-me__button Очистить