.fullscreen.js-fullscreen
	ul.fullscreen__list
		li.fullscreen__item.fullscreen__item--my-works.fullscreen__item--linked
			a(href="./works").fullscreen__link
				| Мои работы
		li.fullscreen__item.fullscreen__item--blog
			a(href="./blog").fullscreen__link
				| Блог
		li.fullscreen__item.fullscreen__link--about
			a(href="./about").fullscreen__link
				| Обо мне
		li.fullscreen__item.fullscreen__link--auth
			a(href="./auth").fullscreen__link
				| Авторизация