.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 150%;
  width: 150%;
  @include centered();
  overflow: hidden;
  background-image: url("../img/water.jpg");
  background-size: cover;
  background-position: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

