.blockquote {
  color: $white;
  font-size: $regular-fs;
  opacity: 0.6;
  @include tablet {
    font-size: $small-sf;
  }
  &__quote {
    font-family: $r-li;
  }
  &__author {
    font-family: $r-bi;
  }
}