.contact-me {
  position: relative;
  width: 380px;
  margin: 0 auto 70px;
  padding: 35px 20px 45px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(#e0e0dc, 0.5);
  @include phone {
    width: 95%;
  }
  &__title {
    position: relative;
    font-family: $sansus;
    font-size: $subheader-fs;
    color: $grey;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.42;
    padding-bottom: 20px;
    margin-bottom: 30px;
    @include phone {
      font-size: $tablet-big-fs;
      padding-bottom: 10px;
    }
    &:after {
      content: '';
      @include centered('h');
      top: 100%;
      width: 90px;
      border-bottom: 3px solid $dark-green;
    }
  }
  &__input {
    width: 100%;
    height: 45px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: rgba($white, 0.8);
    border: none;
    border-radius: 20px;
    overflow: hidden;
    outline: none;
    font-family: $r-r;
    font-size: $regular-fs;
    color: #5d5a55;
    resize: none;
    @include phone {
      font-size: $small-sf;
    }

    @include placeholder {
      font-family: $r-r;
      font-size: $regular-fs;
      color: #5d5a55;
      @include phone {
        font-size: $small-sf;
      }
    }
    &--msg {
      min-height: 140px;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 45px;
  }
  &__button {
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgba($light-green, 0.8);
    border: none;
    font-family: $r-m;
    font-size: $regular-fs;
    color: $white;
    cursor: pointer;
    &:first-child {
      border-right: 2px solid #acc3a8;
    }
    &:hover {
      background-color: rgba($green, 0.8);
    }
  }
  &__status {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#e0e0dc, 0.5);
    z-index: 100;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: $r-r;
    font-size: $regular-fs;
    color: $grey;
    opacity: 0;
    transition: opacity .3s;
    &--loading {
      display: flex;
      opacity: 1;
    }
  }
}