.contacts {
  width: 380px;
  height: 310px;
  padding: 35px;
  @include centered();
  top: calc(50% - 185px/2);
  border-radius: 10px;
  opacity: 0.8;
  background: #f4f5f0;
  overflow: hidden;

  @include tablet {
    top: calc(50% - 320px/2);
  }
  @include phone {
    position: static;
    transform: none;
    width: 100%;
    padding: 30px;
  }

  &__list {
    @include phone {
      width: 80%;
      margin: auto;
    }
  }
  &__item {
    margin-bottom: 13px;
    display: table;
  }

  &__img {
    display: inline-block;
    width: 25px;
    height: 24px;
    @include centered();
    fill: $green;
    vertical-align: middle;
    &-wrapper {
      position: relative;
      display: table-cell;
      width: 35px;
      height: 24px;
      vertical-align: middle;
    }
  }

  &__text {
    display: table-cell;
    font-family: $r-m;
    font-size: $regular-fs;
    color: #455a64;
    vertical-align: middle;
  }
}