.examples {
  display: block;
  height: 700px;
  width: 100%;
  background-color: $beige;
  @extend %clearfix;
  @include tablet {
    height: initial;
  }
  &__title {
    position: relative;
    font-family: $sansus;
    font-size: $subheader-fs;
    color: $grey;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.42;
    padding-bottom: 20px;
    margin-bottom: 25px;
    @include tablet {
      font-size: $tablet-subheader-fs;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    &:after {
      content: '';
      position: absolute;
      @include centered('h');
      top: 100%;
      width: 90px;
      border-bottom: 3px solid $dark-green;
    }
  }
  &__subtitle {
    text-align: center;
    font-family: $r-m;
    font-size: $regular-fs;
    color: $green;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
  &__content {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-color: $yellow-light;
    @include tablet {
      height: 270px;
    }
    &-part {
      @include centered();
      width: 350px;
      @include tablet {
        width: 100%;
      }
    }
  }
  &__preview {
    position: relative;
    float: right;
    width: 50%;
    height: 70%;
    background-color: #e1e4d7;
    @include tablet {
      height: 530px;
    }
    &-img {
      max-height: 85%;
      max-width: 115%;
      @include centered();
    }
  }
  &__slider {
    float: right;
    width: 50%;
    height: 30%;
    @include tablet {
      height: 215px;
    }
  }
  &__part {
    @include tablet {
      width: 100%;
      float: none;
    }
  }

  &__link {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid $light-green;
    background-color: $light-green;
    color: white;
    text-decoration: none;
    font-family: $r-m;
    font-size: $regular-fs;
    &:hover {
      border-color: $green;
      background-color: $green;
    }
    &-wrapper {
      text-align: center;
    }
  }
  &__icon {
    margin-right: 12px;
  }
}