.figure {
  position: relative;
  @include tablet {
    bottom: -1px;
  }
  &__triangle {
    position: absolute;
    height: 160px;
    fill: $beige;
    @include desktop {
      height: 110px;
    }
    @include tablet {
      height: 70px;
    }
    @include phone {
      height: 30px;
    }
    &--left {
      width: 50%;
      left: 0;
      bottom: 100%;
    }
    &--right {
      width: 50%;
      right: 0;
      bottom: 100%;
    }
  }
}