.fullscreen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($sidebar-bg, 0.9);
  z-index: 10;

  &__list {
    @include centered();
    text-align: center;
  }
  &__item {
    margin-bottom: 90px;
    &:hover {
      .fullscreen__link {
        &::after {
          content: '';
          width: 90px;
        }
      }
    }
  }
  &__link {
    position: relative;
    padding-bottom: 20px;
    font-family: $sansus;
    font-size: $header-fs;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    @include tablet {
      font-size: $tablet-header-fs;
    }
    @include phone {
      font-size: $subheader-fs;
    }
    &:after {
      content: '';
      height: 3px;
      background-color: $white;
      @include centered('h');
      bottom: 0;
      width: 0;
      transition: width .3s ease-in-out;
    }
  }
}