.map {
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include phone {
    height: 1150px;
  }
  &__img {
    @include centered();
    top: 40%;
    min-width: 200%;
    min-height: 100%;
  }
}