.section__title {
  position: relative;
  display: inline-block;
  height: 90px;
  width: 50%;
  margin-top: -10px;
  vertical-align: top;
  @include desktop {
    width: 100%;
    margin-bottom: 35px;
  }
  &:after {
    content: "";
    display: block;
    border-bottom: 3px solid $dark-green;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 90px;
  }
  &-title {
    width: 100%;
    @include centered();
    color: $dark-green;
    font-family: $sansus;
    font-size: $header-fs;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
    @include tablet {
      font-size: $tablet-header-fs;
    }
  }
  &-bg {
    height: 100%;
    min-height: 140%;
    min-width: 100%;
    @include centered();
    top: 25%;
    fill: #e2ebd0;
    z-index: 0;
    @include tablet{
      min-height: 100%;
    }
  }
}