.slider {
  &__part {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  &__preview {
    max-height: 100%;
    max-width:  120%;
    @include centered();
    z-index: 0;
  }
  &__arrow {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba($beige,0.7);
    z-index: 1;
    &--down {
      background-color: rgba(#b4b9b0, 0.7);
    }
    &--up {
      background-color: rgba(#a3a79f, 0.7);
      transform: rotate(180deg);
    }
    &-img {
      height: 30px;
      @include centered();
      fill: $white;
      &--up {
      }
    }
  }
}