.socials {
  margin-bottom: 20px;
  &__list {
    text-align: center;
  }
  &__item {
    display: inline-block;
    margin: 0 10px;
  }
  &__link {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
  }
  &__img {
    width: 25px;
    height: 25px;
    fill: $white;
    opacity: 0.5;
    @include centered();

    &:hover {
      fill: $green;

    }
  }
  &--hero {
    position: absolute;
    top: 35px;
    left: 30px;
    .socials {
      &__img {
        opacity: 1;
      }
    }
  }

  &--footer {
    margin-bottom: 0;
    .socials {
      &__list {
        text-align: left;
      }
      &__item {
        margin: 0 25px 0 0;
      }
      &__img {
        &:hover {
          fill: $white;
          opacity: 1;
        }
      }
    }
  }
}