//--- Colors ---//
$light-green: #6c9c5a;
$green: #4e8839;
$dark-green: #566358;
$grey: #373e42;
$link-color: #6da3bd;
$red: #e44845;
$white: #ffffff;
$yellow-light: #ebefe2;
$yellow-ll: #f4f5f0;
$beige: #faf8f0;

//--- Fonts ---//
$sansus: 'Sansus';
$r-b: 'Roboto-Bold';
$r-bi: 'Roboto-BoldItalic';
$r-i: 'Roboto-Italic';
$r-l: 'Roboto-Light';
$r-li: 'Roboto-LightItalic';
$r-m: 'Roboto-Medium';
$r-mi: 'Roboto-MediumItalic';
$r-r: 'Roboto-Regular';

//--- Font size ---//
$header-fs: 63px;
$tablet-header-fs: 49px;
$subheader-fs: 35px;
$tablet-subheader-fs: 30px;
$big-fs: 28px;
$phone-subheader-fs: 21px;
$tablet-big-fs: 20px;
$regular-fs: 16px;
$small-sf: 14px;
$smaller-sf: 13px;

//--- Size ---//
$header-mt: 70px;
$header-mb: 70px;
$subheader-mt: 40px;
$mr: 20px;