//--- Colors ---//
$light-green: #6c9c5a;
$green: #4e8839;
$dark-green: #566358;
$grey: #373e42;
$link-color: #6da3bd;
$red: #e44845;
$white: #ffffff;

//--- Fonts ---//
$sansus: 'Sansus';
$r-b: 'Roboto-Bold';
$r-bi: 'Roboto-BoldItalic';
$r-i: 'Roboto-Italic';
$r-l: 'Roboto-Light';
$r-li: 'Roboto-LightItalic';
$r-m: 'Roboto-Medium';
$r-mi: 'Roboto-MediumItalic';
$r-r: 'Roboto-Regular';

//--- Font size ---//
$header-fs: 63px;
$subheader-fs: 35px;
$regular-fs: 16px;
$big-fs: 28px;


//--- Size ---//
$header-mt: 70px;
$header-mb: 70px;
$subheader-mt: 40px;
$mr: 20px;