.about {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 0 10px;
  vertical-align: top;
  @include desktop {
    width: 100%;
    padding: 0 80px;
  }
  @include tablet {
    display: block;
    width: 61%;
    margin: auto;
    padding: 0;
  }
  @include phone {
    padding: 0;
    width: 95%;
  }
  &__col {
    position: relative;
    display: table-cell;
    width: 50%;
    height: 100%;
    padding-top: 20px;
    @include tablet {
      position: static;
      display: block;
      width: 100%;
    }
    &--left {
      background: $yellow-light;
      font-size:0;
      .about__triangle {
        fill: $yellow-light;
      }
    }
    &--right {
      background: $yellow-ll;
      .about__triangle {
        fill: $yellow-ll;
        right: 0;
        @include tablet {
          fill: $yellow-light;
        }
      }
    }
  }
  &__triangle {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 100%;
    height: 160px;

    @include desktop {
      height: 110px;
    }
    @include tablet {
      bottom: calc(100% - 1px);
      height: 70px;
      width: 50%;
    }
    @include phone {
      height: 30px;
      width: 50%;
    }
  }
  &__img {
    width: 100%;
    &-wrapper {
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;

      @include desktop {
        padding: 0;
      }
      @include tablet {
        margin-bottom: 40px;
      }
    }
  }
}

.arrow-down {
  bottom: 75px;
  @include centered('h');
  z-index: 1;
  cursor: pointer;
  opacity: 0.7;
  @include tablet {
    bottom: 50px;
  }
  &__img {
    fill: $white;
    width: 26px;
    height: 26px;
    position: relative;
    top:0;
    transition: top .4s ease-in-out;
  }
  &:hover {
    opacity: 1;
    .arrow-down__img {
      top: 15px;
    }
  }
}

.section-about {
  position: relative;
  @extend %clearfix;
  display: table;
  background: $yellow-light;
  @include tablet {
    padding-top: 40px;
  }
}

.block {
  &__title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
    color: $dark-green;
    font-family: $sansus;
    font-size: $subheader-fs;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      margin-bottom: 10px;
      font-size: $tablet-subheader-fs;
    }

    &:after {
      content: "";
      display: block;
      border-bottom: 3px solid $dark-green;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 100px;
    }
  }
  &__text {
    font-family: $r-r;
    font-size: $regular-fs;
    color: $dark-green;
    p {
      padding-bottom: 20px;
    }
    @include tablet {
      margin-bottom: 50px;
    }
    @include phone {
      width: 95%;
      margin:auto;
      padding-bottom: 10px;
    }
  }
}
