.section {
  &-blog {
    @extend %clearfix;
    background-color: $beige;
    padding-bottom: 185px;
    @include desktop {
      padding-bottom: 235px;
    }
    @include tablet {
      padding-bottom: 320px;
    }
  }
}
