.section {
  &-blog {
    @extend %clearfix;
    background-color: $beige;
  }
}

.article {
  position: relative;
  padding-bottom: 70px;
  margin-bottom: 70px;
  &:after {
    content: "";
    position: absolute;
    width: 680px;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #ecebe4;
  }
  &:last-child {
    padding-bottom: 0;
    &:after {
      border-bottom: none;
    }
  }
  &s {
    float: left;
    width: 880px;
    padding: 75px 0 0;
  }
  &__title {
    font-family: $sansus;
    font-size: $subheader-fs;
    color: $grey;
    margin-bottom: 30px;
  }
  &__date {
    font-family: $r-r;
    font-size: $regular-fs;
    color: $green;
    margin-bottom: 30px;
  }
  &__content {
    font-family: $r-r;
    font-size: $regular-fs;
    color: $grey;
    p {
      margin-bottom: 20px;
    }
  }
}