.section {
  height: 100%;
  width: 100%;
}

.welcome {
  position: relative;
  background-image: url("../img/water.jpg");
  background-size: cover;
}

.auth-button {
  position: absolute;
  top: 25px;
  right: 100px;
  width: 180px;
  height: 45px;
  padding-top: 9px;
  @include rounded-btn($white, 45px);
  box-sizing: border-box;
  font-family: $r-m;
  font-size: $regular-fs;
  text-align: center;
  cursor: pointer;

  &:hover {
    border-color: $light-green;
    background-color: $green;
  }
}

.footer {
  position: relative;
  &--welcome {
    margin-top: -60px;
    text-align: center;
    font-family: $r-r;
    font-size: $regular-fs;
  }
}